
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: white;
    background: linear-gradient(120deg, #0D0E20 50%, #7CC142 50%);
    overflow-x: hidden;         /* Evita scroll lateral */
    min-height: 100vh;          /* Altura mínima */
    padding-bottom: 100px;      /* Espacio inferior para scroll cómodo */
}

/* Figuras geométricas ligeras */
.background::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 10%;
    width: 200px;
    height: 200px;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 20px;
    transform: rotate(10deg);
}

/* ====== TITULOS ====== */
header h1 {
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
    color: white; /* Texto púrpura */
    display: inline-block;
    padding: 10px 25px;
    border-radius: 12px;
    margin-top: 20px;
}
header {
    text-align: center;
}


h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #7CC142;
    margin-bottom: 25px;
}

/* ====== CONTENEDORES GLASS EFFECT ====== */
.glass-card {
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 50px; 
}

#form-section {
    width: 350px;
}

#list-section {
    flex: 1;
    min-width: 500px;
    max-width: 900px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 12px;
}

input, select {
    width: 80%;                 
    max-width: 260px;            
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    transition: 0.3s ease;
}

input:focus, select:focus {
    outline: 2px solid #2AADE3;
    box-shadow: 0 0 5px rgba(75, 46, 255, 0.5);
}

label {
    width: 80%;
    max-width: 260px;
    font-weight: bold;
    color: white;
}

/* ====== BOTONES ====== */
.btn-primary {
    background: #2AADE3;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #311FCC;
    transform: scale(1.05);
}

.btn-secondary {
    background: #FF3366;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/* ====== TABLA ====== */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #2AADE3;
    color: white;
    padding: 10px;
}

td {
    background: rgba(255,255,255,0.85);
    color: #333;
    padding: 10px;
}

/* Botones acción */
.action-btn.edit {
    background: #2AADE3;
}

.action-btn.delete {
    background: #FF3366;
}

#list-section h2 {
    color: #7CC142;
    display: inline-block;
    position: relative;
}


